@import '../../styles/variables';

.projectsContainer {
  margin-top: 100px;
  position: relative;
  padding: 60px 80px 0 80px;
  z-index: 1;

  @media (max-width: 900px) {
    padding: 60px 80px 0 80px;
  }

  @media (max-width: 850px) {
    margin-top: 50px;
    padding: 60px 35px 0 35px;
  }

  @media (max-width: 500px) {
    margin-top: 30px;
    padding: 60px 20px 0 20px;
  }
}

.identificationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  @media(max-width: 1050px) {
    flex-direction: column;
  }

  a {
    border: none;
    display: flex;
    align-items: center;
    @include text-body;
    justify-content: center;
    position: relative;
    color: #fff;
    border-radius: 1px;
    outline: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-color: $color-primary;

    @media(max-width: 1050px) {
      display: none;
    }

    &:hover {
      font-weight: bold;
      transition: background-color 0.3s ease;
      background-color: darken($color-primary, 20%);
      color: white;
      border: 1px solid $color-primary;
    }
  }
}

.titleProjectContainer {
  @include text-l;
  font-size: 57px;

  &:hover {
    color: $color-primary;
  }
}


.listProjects {
  display: flex;
  gap: 48px;
  align-items: start;

  @media(max-width:1050px) {
    flex-direction: column;
    align-items: center;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media(max-width:1050px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    @media(max-width:350px) {
      gap: 15px;
    }

    button {
      width: 200px;
      @include text-body;
      cursor: pointer;
      outline: none;
      text-transform: capitalize;
      padding: 5px;
      border: none;
      color: $color-secondary;
      background-color: $color-bg2;
      border-radius: 3px;
      transition: color 0.3s ease;

      @media(max-width:650px) {
        width: 150px;
      }

      @media(max-width:350px) {
        width: 160px;
      }

      &:hover {
        background-color: lighten($color-bg2, 2%);
        color: #fff;

      }

      &.active {
        color: #fff;
        font-weight: bold;
        background-color: lighten($color-bg2, 2%);
        border: 1px solid $color-primary;
        padding: 6px 5px;
      }
    }
  }

  .rightContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

  }
}