@import '../../styles/variables';

.projectsContainer {
  margin-top: 100px;
  position: relative;
  padding: 60px 80px 0 80px;
  z-index: 1;

  @media (max-width: 900px) {
    padding: 60px 80px 0 80px;
  }

  @media (max-width: 850px) {
    margin-top: 50px;
    padding: 60px 35px 0 35px;
  }

  @media (max-width: 500px) {
    margin-top: 30px;
    padding: 60px 20px 0 20px;
  }
}

.arrowSlider {
  position: absolute;
  top: 50%;
  left: 50%;
}

.identificationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  @media(max-width: 1050px) {
    flex-direction: column;
  }

  a {
    border: none;
    display: flex;
    align-items: center;
    @include text-body;
    justify-content: center;
    position: relative;
    color: #fff;
    border-radius: 1px;
    outline: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-color: $color-primary;

    @media(max-width: 1050px) {
      margin-top: 20px;
      height: 40px;
      width: 160px;
    }

    &:hover {
      background-color: darken($color-primary, 10%);
      color: white;
      border: 1px solid $color-primary;
    }
  }
}


.titleProjectContainer {
  @include text-l;
  font-size: 57px;
}

.swiperSlide {
  background-color: #000;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 500px !important;
  height: 150px !important;
}

.swiperSlideCard {

  &:hover {
    .projectsSlideLinks {
      opacity: 0.9;
      visibility: visible;
      transition: opacity 0.5s ease, visibility 0.5s ease;

    }
  }

}

.projectsSlideLinks {
  &:hover {
    opacity: 1 !important;
  }

  z-index: 6 !important;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 93%;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease;
  padding: 0 100px;
  border-radius: 30px;
  color: white;
  position: absolute;
  height: 65px;
  max-height: 100%;
  box-shadow: #606060 3px 3px 6px 0px inset,
  #0000001c -3px -3px 6px 1px inset,
  rgba(67, 166, 122, 0.02) 0px 3px 5px;
  background-color: $color-bg2;
  opacity: 0;



  @media (max-width:1050px) {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width:900px) {
    padding: 0 80px;
  }

  @media (max-width:800px) {
    padding: 0 70px;
  }

  @media (max-width:750px) {
    top: 77%;
    padding: 0 60px;
    height: 58px;
  }

  @media (max-width: 700px) {
    top: 72%;
    padding: 0 40px;
  }

  @media (max-width: 650px) {
    padding: 0 30px;
  }

  @media (max-width: 450px) {
    padding: 0 20px;
    top: 63%;
  }

  a {
    @include text-body;
    padding: 3px 5px;
    letter-spacing: 2.29px;
    font-weight: 500;
    border-bottom: 2px solid $color-primary;

    @media (max-width: 550px) {
      font-size: 13px;
    }

    &:hover {
      color: $color-primary;
    }

    @media (max-width:800px) {
      color: $color-primary;
    }

    max-width: max-content;
    width: max-content;
    cursor: pointer;
  }
}