$color-0: #ffffff;
$color-1: #f7f7f7;
$color-2: #dedede;
$color-3: #cccccc;
$color-4: #b2b2b2;
$color-5: #9c9c9c;
$color-6: #717171;
$color-7: #595959;
$color-8: #404040;
$color-9: #2e2e2e;
$color-light-black: #111111;
$color-light-purple: #C3AEFF;
$color-purple: #A78AFB;
$color-secondary: #9071E9;
$color-primary: #6961D7;