@import '../../styles/variables';

.aboutContainer {
  padding: 30px 80px 0 80px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1050px) {
    flex-direction: column;
  }

  @media (max-width: 850px) {
    padding: 30px 35px 0 35px;
  }

  @media (max-width: 524px) {
    padding: 20px 20px 0 20px;
  }
}

.titleAboutContainer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;


  @media (max-width: 1050px) {
    align-items: center;
    gap: 25px;
  }

  @media (max-width: 524px) {
    padding-bottom: 0;
  }

  .titleAbout {
    @include text-xl;
    font-size: 75px;

    @media (max-width: 1232px) {
      font-size: 65px;
    }

    @media (max-width: 1150px) {
      font-size: 60px;
    }

    @media (max-width: 750px) {
      @include text-l;
      font-size: 60px;
    }

    @media (max-width: 620px) {
      font-size: 50px;
    }

    @media (max-width: 524px) {
      text-align: center;
      font-size: 55px;
      max-width: 8ch;
    }

    span {
      border-bottom: 3px solid $color-primary;

      &:hover {
        color: $color-primary;
      }
    }
  }

  p {
    margin-top: 23px;
    @include text-body;
    font-size: 45px;


    @media (max-width: 620px) {
      font-size: 35px;
    }

    @media (max-width: 524px) {
      font-size: 30px;
    }
  }
}

.IconsContainer {
  max-width: 400px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media(max-width: 1050px) {
    margin-bottom: 30px;
  }

  @media(max-width: 770px) {
    max-width: 350px;
    margin-top: 10px;
  }



  svg {
    color: $color-secondary;
    fill: $color-secondary;
    width: 4.5rem;
    height: 4.5rem;

    path {
      fill: $color-secondary;
    }
  }
}



.aboutContainerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleDescription {
  margin-bottom: 50px;
  padding-top: 48px;

  @media(max-width:1050px) {
    padding-top: 0px;
    align-items: center;
    text-align: center;
  }

  @media(max-width:770px) {
    margin-bottom: 20px;
  }
}

.imageAbout {
  position: relative;
  width: 400px;
  height: 360px;

  @media (max-width: 530px) {
    margin-top: 40px;
    height: 350px;
  }

  div {
    display: block;
    content: "";
    width: 306.1px;
    left: 13%;
    height: 310.1px;
    border: 1px solid #4ee1a0;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    z-index: 0;

    @media (max-width: 1150px) {
      width: 269.1px;
      left: 12%;
      height: 273.1px;
    }

    @media (max-width: 350px) {
      width: 229.1px;
      left: 12%;
      height: 233.1px;
    }
  }

  img {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 1150px) {
    width: 350px;
    height: 350px;
  }


  @media (max-width: 350px) {
    width: 300px;
    height: 300px;
  }
}

.linksSocialMedia {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @media(max-width:530px) {
    flex-direction: column;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    gap: 10px;
    color: #fff;
    padding: 0 10px;
    border-radius: 1px;
    background-color: $color-primary;

    &:hover {
      p {
        font-weight: bold;
      }

      transition: background-color 0.3s ease;
      background-color: darken($color-primary, 20%);
      color: white;
      border: 1px solid $color-primary;

      svg {
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    p {
      @include text-body;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}