@import '../../styles/variables';

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color-bg2;
  margin-top: 100px;
  position: relative;
  padding: 60px 80px 80px;
  z-index: 1;

  @media (max-width: 900px) {
    padding: 60px 80px 30px 80px;
  }

  @media (max-width: 850px) {
    padding: 60px 35px 30px 35px;
  }

  @media (max-width: 500px) {
    padding: 60px 20px 30px 20px;
  }
}

.contactContainer {
  @media(max-width: 1050px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 700px) {
    margin-top: 50px;
  }
}

.contactText {

  display: flex;
  flex-direction: column;
  gap: 35px;

  h2 {
    @include text-l;
    font-size: 57px;
  }

  p {
    @include text-body;
    max-width: 450px;
  }

  @media(max-width: 1050px) {
    padding-bottom: 45px;
    align-items: center;
    justify-content: center;

    p {
      max-width: 90%;
    }
  }
}

.formContact {
  align-items: end;
  width: 70%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  span {
    user-select: none;
    display: flex;
    justify-content: end;
    color: $color-error;
  }

  @media(max-width: 1200px) {
    width: 40%;
  }

  @media(max-width: 1050px) {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  input {
    width: 100%;
    font-size: 16px;
    font-weight: medium;
    font-family: 'Space Grotesk', sans-serif;
    background: transparent;
    border: none;
    padding: 15px;
    color: $color-secondary;
    letter-spacing: -0.22px;
    border-bottom: 1px solid #fff;
    outline: none;

    @media(max-width: 1050px) {
      width: 100%;
      max-width: 100%;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: transparent;
    text-transform: uppercase;
    border: none;
    padding: 15px;
    color: #f7f7f7;
    border-bottom: 1px solid #fff;
    outline: none;

    @media(max-width: 1050px) {
      width: 100%;
      max-width: 100%;
    }


  }

  .inputNameContainer,
  .inputEmailContainer,
  .inputMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 70%;
    position: relative;

    @media(max-width:1050px) {
      width: 80%;
    }

    @media(max-width:650px) {
      width: 100%;
    }
  }


  .inputMessage,
  .inputEmail,
  .inputName {
    margin-bottom: 10px;
  }

  .iconExclamationName {
    position: absolute;
    top: 21%;
    right: 10px;
    color: #ff6f5b;
    font-size: 18px;
    fill: #ff6f5b;
  }

  .iconExclamationEmail {
    position: absolute;
    top: 21%;
    right: 10px;
    color: #ff6f5b;
    font-size: 18px;
    fill: #ff6f5b;
  }

  .iconExclamationMessage {
    position: absolute;
    top: 10%;
    right: 10px;
    font-size: 18px;
    fill: #ff6f5b;
  }


  button {
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    padding: 15px 0;
    margin-top: 15px;
    background: transparent;
    font-weight: bold;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border: none;
    line-height: 26px;
    color: #fff;
    max-width: max-content;
    border-bottom: 1px solid $color-primary;

    @media(max-width: 1050px) {
      font-size: 18px;
    }

    &:hover {
      color: $color-primary;
      transition: color 0.2s ease;
    }
  }
}