@import '../../styles/variables';


.header {
  background-color: $color-bg2;
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 93%;
  border-radius: 3px;
  font-size: 20px;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: #606060 3px 3px 6px 0px inset,
    #0000001c -3px -3px 6px 1px inset,
    rgba(67, 166, 122, 0.02) 0px 3px 5px;



  @media(max-width: 600px) {
    padding: 15px 40px;
  }


  h2 {
    user-select: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.44px;


    a {
      &:hover {
        color: $color-primary;
        transition: color 0.3s ease;
      }
    }

  }

}