@import '../../../styles/variables';

.menuModalClose {
  z-index: 1;
  cursor: pointer;
  content: '';
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #242424;
  border: 3px solid #47ffae2b;


  &:hover {
    border: 3px solid $color-primary;
    background-color: #2e2e2e;
  }

  span {
    transform: translate(-50%, -50%);
    position: absolute;
    background: #070b07;
    width: 28px;
    height: 3px;
    border-radius: 27%;
    background: $color-primary;

    &:first-child {
      top: 34%;
      left: 50%;
    }

    &:nth-child(2) {
      top: 50%;
      left: 50%;
    }

    &:last-child {
      top: 68%;
      left: 50%;
    }
  }
}

.menuModalOpen {
  z-index: 1;
  content: '';
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 55px;
  height: 55px;
  align-items: center;
  border-radius: 50%;
  background-color: #242424;
  border: 3px solid #47ffae2b;

  svg {
    width: 25px;
    height: 25px;
  }


  &:hover {
    border: 3px solid $color-primary;
    background-color: #2e2e2e;
  }


}

.containerModal {
  display: none;

  @media (max-width: 850px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.languageContainer {
  margin-top: 3px;
  height: 20px;
  cursor: pointer;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.3s;
  border: 1px solid #fff;
}


.containerNavBarMobile {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

.navBarMobile {

  @media (max-width: 850px) {
    user-select: none;
    z-index: 6;
    background-color: #242424;
    top: 82px;
    left: 0;
    right: 50%;
    width: 93vw;
    max-width: 100%;
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: #606060 3px 3px 6px 0px inset,
      #0000001c -3px -3px 6px 1px inset,
      rgba(67, 166, 122, 0.02) 0px 3px 5px;
    position: absolute;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    ul {
      @include text-body;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      li {
        @include text-body;
        cursor: pointer;
        position: relative;
        color: #fff;
        cursor: pointer;

        a {
          @include text-body;

        }

        &:hover a {
          color: $color-primary;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 100%;
          bottom: 0;
          border-bottom: 1px solid $color-primary;
          transition: right 0.3s ease;
        }

        &:hover::before {
          right: 0;
        }
      }
    }
  }
}

#changeLanguage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & .languageContainer:hover #changeLanguage a {
    color: $color-primary;
  }
}

.svgIcon {
  cursor: pointer;
  z-index: 1;

  @media (min-width: 851px) {
    display: none;
  }

  &:hover .pathThree {
    fill: $color-primary;
  }

  &:hover .pathTwo {
    fill: $color-primary;
  }
}