@import '../../../styles/variables';

.containerModal {
  display: none;

  @media (max-width: 850px) {
    display: flex;
  }
}

.languageContainer {
  margin-top: 3px;
  height: 20px;
  cursor: pointer;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.3s;
  border: 1px solid #fff;
}


.containerNavBarMobile {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

.navBarMobile {

  @media (max-width: 850px) {
    background-color: #242424;
    top: 90px;
    left: 0;
    right: 50%;
    width: 93vw;
    z-index: 1;
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: #606060 3px 3px 6px 0px inset, #070b07 -3px -3px 6px 1px inset, rgba(67, 166, 122, 0.02) 0px 3px 5px;
    position: absolute;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    ul {
      @include text-body;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      li {
        @include text-body;
        cursor: pointer;
        position: relative;
        color: #fff;
        cursor: pointer;

        a {
          @include text-body;

        }

        &:hover a {
          color: $color-primary;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 100%;
          bottom: 0;
          border-bottom: 1px solid $color-primary;
          transition: right 0.3s ease;
        }

        &:hover::before {
          right: 0;
        }
      }
    }
  }
}

#changeLanguage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & .languageContainer:hover #changeLanguage a {
    color: $color-primary;
  }
}

.svgIcon {
  cursor: pointer;
  z-index: 1;

  @media (min-width: 851px) {
    display: none;
  }

  &:hover .pathThree {
    fill: $color-primary;
  }

  &:hover .pathTwo {
    fill: $color-primary;
  }
}