@import '../../../styles/variables';

.navBar {
  @media (max-width: 600px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    li {
      position: relative;
      color: #fff;
      font-size: 20px;
      padding: 5px;
      font-weight: 200;
      cursor: pointer;

      a {
        font-family: 'Inter', sans-serif;
      }

      &:hover {
        color: $color-light-purple;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        border-bottom: 2px solid $color-light-purple;
        transition: right 0.3s ease;
      }

      &:hover::before {
        right: 0;
      }
    }
  }
}